<div class="hamburger">
    <div class="hamburger-line"></div>
    <div class="hamburger-line"></div>
    <div class="hamburger-line"></div>
            
    <div class="nav hidden">
        {{#link-to "pizzeria1" class="navi"}}
            Pizzeria Warszawa
        {{/link-to}}
        {{#link-to "pizzeria2" class="navi"}}
            Pizzeria Wrocław
        {{/link-to}}
    </div>
            
</div>