<div class="hamburger">
    <div class="hamburger-line"></div>
    <div class="hamburger-line"></div>
    <div class="hamburger-line"></div>
{{!--             
    <div class="menu hidden">
        {{#link-to "pizzeria1" class="button"}}
            Pizzeria Warszawa
        {{/link-to}}
        {{#link-to "pizzeria2" class="button"}}
            Pizzeria Wrocław
        {{/link-to}}
    </div> --}}
            
</div>