<h4>Składniki</h4>

{{#each this.list as |stock|}} 
    <div onclick={{clicker}} class="ingredient-row">
        <p class="name">
            {{stock.name}}
        </p>
        <p class="price">
            {{stock.counter}} PLN
        </p>
    </div>
    

{{/each}}