<h4>Składniki</h4>

{{this.ingre.counter}}


    {{!-- {{#each this.model as |stock|}}
               
                    
                        <p>
                            {{stock.ingre}}
                        </p>
                        <p>
                            {{stock.counter}}
                        </p>
                        
                
            
            
           
             
 
    {{/each}} --}}