<h4>Wybrana pizza</h4>

<div class="hidden sum">
    <div class="menu-row">
        <p class="name"></p>
        <p class="price"></p>
    </div>
</div>

<h5>Dodatkowe składniki</h5>
<div class="sum2">
    
    
</div>
<button onclick={{clicker}} class="button-link btn-summary">Podsumuj</button>


<button class="button-link btn-reset hidden">
    <a href="/main" class="">Potwierdź</a>
    </button>