<h4>Wybrana pizza</h4>

<div class="hidden sum menu-row">
        <p class="name"></p>
        <p class="price"></p>
</div>

<h5>Dodatkowa składniki</h5>

<div class="hidden sum2 ingredient-row">
    <p class="name"></p>
    <p class="price"></p>
    
</div>




<div>{{this.text}}</div>


