* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: lightgrey;
    font-family: 'Raleway', sans-serif;

}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.red {
    color: rgb(255,0,0)
}

.header {
    background: black;
    height: 80px;
    padding: 0 10px;
}

a {
    color: inherit;
}

.logo {
    color: white;
    text-decoration: none;
    font-family: "Oswald", sans-serif;
}

.page-header {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

.hamburger-line {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
}

.hamburger {
    cursor: pointer;
}

.menu {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    padding: 20px;
    background: pink;
}

.hidden {
    display: none;
}

.restaurant {
    border-radius: 12px;
    border: 1px solid rgb(255,0,0);
    background: white;
    margin: 20px;
    padding: 50px;
    text-align: left;
}

.button-link {
    border-radius: 12px;
    width: 100px;
    height: 70px;
    background: rgb(255,0,0);
    border: none;
    margin-top: 10px;
    color: #ffffff;
    font-weight: 700;
    text-transform: uppercase;
    outline: none;
}

.button-link a {
    text-decoration: none;
}

/* pizzeria1, pizzeria2 */

.restaurant-name {
    text-align: center;
}

.boxes {
    width: 100%;
    display: flex;
    justify-content: space-around;

}

.box {
    background: white;
    width: 33.33333%;
    /* height: 300px; */
    border-radius: 15px;
    border: none;
    margin: 10px;
}

.menu-row {
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
    padding: 10px;
    background: rgb(255,0,0);
    border-radius: 15px;
}

.menu-row p {
    color: white;
    font-weight: 700;
    display: inline-flex;
    text-transform: uppercase;
    
}

.ingredients {
    padding: 0 10px;
    font-size: 0.7em;
    font-weight: 300;
    text-transform: lowercase;
}