* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: lightgrey;
    font-family: 'Raleway', sans-serif;

}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.red {
    color: rgb(255,0,0)
}

.header {
    background: black;
    height: 80px;
    padding: 0 10px;
}

a {
    color: inherit;
}

.logo {
    color: white;
    text-decoration: none;
    /* font-family: "Roboto", sans-serif; */
}

.page-header {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

.hamburger-line {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
}

.hamburger {
    cursor: pointer;
}

.menu {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    padding: 20px;
    background: pink;
}

.hidden {
    display: none;
}

.restaurant {
    border: 1px solid rgb(255,0,0);
    background: white;
    margin: 20px;
    padding: 50px;
    text-align: left;
}