<header class="header">
    <div class="container page-header">
        <a href="/"><h1 class="logo">Pizzeria Manager</h1></a>
        <Hamburger onClick={{click}}/>
    </div>


</header>



{{outlet}}