<header class="header">
    <div class="container page-header">
        <a href="/"><h1 class="logo">Pi<span class="red">z</span>zeria Mana<span class="red">g</span>er</h1></a>
        <Hamburger onClick={{click}}/>
    </div>


</header>


{{outlet}}