<div class="restaurant-site container">

    <h2 class="restaurant-name">Pi<span class="red">z</span>zeria Warsz<span class="red">a</span>wa</h2>

    <div class="boxes">
        <div class="menu box">
            <Menu/>
            
    
    
        </div>
        <div class="menu box">
            <Stock/>
        
        </div>

        <div class="menu box">
            <Summary/>
        
        </div>
        
    </div>

</div>